!!! 5
%html{ :lang => 'en' }
  %head
    / Required meta tags
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1, shrink-to-fit=no' }

    / Bootstrap CSS
    %link{ :rel         => 'stylesheet',
           :href        => 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
           :integrity   => 'sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm',
           :crossorigin => 'anonymous' }

    / DataTables CSS
    %link{ :rel  => 'stylesheet',
           :href => 'https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css' }

    %title Shiftzilla
  %body
    .container
      .row
        %h1
          Shiftzilla 
          \|
          %small
            %span.text-muted= tname
          \|
          %small
            %span.text-muted= latest_snapshot
      .row
        .col-6
          %a{ :name => 'top' }
          - if tname != '_overall' and not tinfo.nil? and not tinfo.ad_hoc?
            %h5 Team Info
            %ul
              %li= "Team Lead: #{tinfo.lead}"
              %li= "Group Lead: #{tinfo.group.lead}"
              - if tinfo.components.length > 0
                %li= "BZ Component(s): #{tinfo.components.join(', ')}"
          %h5= "#{tdata.title} Summary"
          %table.table.table-hover.table-sm
            %tr
              %td Release
              - releases.each do |r|
                %td.text-right= r[:release].name
            %tr
              %td Total
              - releases.each do |r|
                %td.text-right= r[:snapdata].total_bugs
            %tr
              %td w/ Customer Cases
              - releases.each do |r|
                %td.text-right= r[:snapdata].total_cc
            %tr
              %td Avg. Bug Age
              - releases.each do |r|
                %td.text-right= r[:bug_avg_age]
            %tr
              %td Avg. Test Blocker Age
              - releases.each do |r|
                %td.text-right= r[:tb_avg_age]
            %tr
              %td New Today
              - releases.each do |r|
                %td.text-right= r[:snapdata].new_bugs
            %tr
              %td Closed Yesterday
              - releases.each do |r|
                %td.text-right= r[:snapdata].total_cc
            %tr
              %td Test Blockers
              - releases.each do |r|
                %td.text-right= r[:snapdata].total_tb
            %tr
              %td New Blockers Today
              - releases.each do |r|
                %td.text-right= r[:snapdata].new_tb
            %tr
              %td Closed Blockers Yesterday
              - releases.each do |r|
                %td.text-right= r[:snapdata].closed_tb
          %h5 Breakdown By Team
          %table.table.table-hover.table-sm
            %tr
              %td Team
              - releases.each do |r|
                %td.text-right= r[:release].name
            - team_files.each do |tm|
              %tr
                %td
                  - if tm[:tname] == tname
                    = tname
                  - else
                    %a{ :href => tm[:file] }= tm[:tname]
                - releases.each do |r|
                  %td.text-right= tm[:releases][r[:release].name]
        .col-6
          #accordion
            - first_release = true
            - chart_order.each do |cidx|
              - r = releases[cidx]
              - next if r.nil? or r[:release].built_in? or r[:no_rdata]
              .card
                %div{ :class => 'card-header', :id => "heading-#{r[:release].token}"}
                  %h5.mb-0
                    %button(class="btn btn-link" data-toggle="collapse" data-target="#collapse-#{r[:release].token}" aria-expanded="#{first_release ? 'true' : 'false'}" aria-controls="collapse-#{r[:release].token}")
                      = "#{r[:release].name} Charts"
                %div(id="collapse-#{r[:release].token}" class="collapse#{first_release ? ' show' : ''}" aria-labelledby="heading-#{r[:release].token}" data-parent="#accordion")
                  - first_release = false
                  %div.card-body
                    %img{ :class => 'img-fluid', :src => r[:charts][:burndown] }
                    %img{ :class => 'img-fluid', :src => r[:charts][:new_closed] }
                    %img{ :class => 'img-fluid', :src => r[:charts][:blockers] }
      - if all_bugs.length > 0
        .row
          .col
            %hr
            %a{ :name => "TeamBugs-All" }
            %h5
              = "Team Bugs (#{all_bugs.length} total)"
              %small
                %a{ :href => '#top' } Back to top
            %table.table.table-sm.table-striped.display{ :id => "team-bugs-all" }
              %thead
                %tr
                  %th
                    %abbr{ :title => 'Test Blocker?' } TB
                  %th
                    %a{ :href => 'https://mojo.redhat.com/docs/DOC-1159309', :target => '_blank' } PM
                  %th
                    %abbr{ :title => 'Has attached customer cases?'} CC
                  %th Tgt Release
                  %th Bug
                  %th Component
                  %th Age
                  %th Owner
                  %th Summary
              %tbody
                - all_bugs.each do |b|
                  %tr
                    %td= b.test_blocker ? "<span class='badge badge-danger'>TB</span>" : ''
                    %td= b.pm_score
                    %td= b.cust_cases ? "<span class='badge badge-warning'>CC</span>" : ''
                    %td(data-order="#{b.semver}")= b.tgt_release
                    %td
                      %a{ :href => "#{bug_url}#{b.id}", :target => '_blank' }= b.id
                    %td= b.component
                    %td= b.age
                    %td
                      %a{ :href => "mailto:#{b.owner}" }= b.owner
                    %td= b.summary

    / Optional JavaScript
    / jQuery first, then Popper.js, then Bootstrap JS
    %script{ :src         => 'https://code.jquery.com/jquery-3.2.1.slim.min.js',
             :integrity   => 'sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN',
             :crossorigin => 'anonymous' }
    %script{ :src         => 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js',
             :integrity   => 'sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q',
             :crossorigin => 'anonymous' }
    %script{ :src         => 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js',
             :integrity   => 'sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl',
             :crossorigin => 'anonymous' }

    / DataTables JavaScript
    %script{ :src => 'https://code.jquery.com/jquery-1.12.4.js' }
    %script{ :src => 'https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js' }
    %script{ :src => 'https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js' }
    - if all_bugs.length > 0
      :javascript
        $(document).ready(function() {
          $('#team-bugs-all').DataTable({
            'paging': false,
            'order': [[0,'desc'],[1,'desc'],[2,'desc']]
          });
        });
